<div class='table_wrapper' id='info'>

    {% if perms.Vehicle.add_vehicle %}
    <button id="add_new_vehicle">Добавить</button>
    {% endif %}
    
    <table id='table_info'>
        <tr>
            <th>№</th>
            <th>Модель техники</th>
            <th>Зав. № машины</th>
            <th>Модель двигателя</th>
            <th>Зав. № двигателя</th>
            <th>Модель трансмиссии (производитель, артикул)</th>
            <th>Зав. № трансмиссии</th>
            <th>Модель ведущего моста</th>
            <th>Зав. № ведущего моста</th>
            <th>Модель управляемого моста</th>
            <th>Зав. № управляемого моста</th>
            <th>Дата отгрузки с завода <span id='vehicle_sort_button' style='cursor: pointer;'>&#8645;</span></th>
            <th>Покупатель</th>
            <th>Грузополучатель (конечный потребитель)</th>
            <th>Адрес поставки (эксплуатации)</th>
            <th>Комплектация (доп. опции)</th>
            <th>Сервисная компания</th>
        </tr>
       
    </table>
</div>
