<div class='table_wrapper' id='complaints'>

    
    <table id='table_detailed_complaints'>
        <tr>
            <th>№</th>
            <th>Дата отказа</th>
            <th>Наработка, м/час</th>
            <th>Узел отказа</th>
            <th>Описание отказа</th>
            <th>Способ восстановления</th>
            <th>Используемые запасные части</th>
            <th>Дата восстановления</th>
            <th>Время простоя техники</th>
        </tr>
       
    </table>

</div>