<div class='table_wrapper' id='info'>

    <table id='table_detailed_info'>
        <tr>
            <th>модель машины</th>
            <th>Модель двигателя</th>
            <th>Зав. № двигателя</th>
            <th>Модель трансмиссии (производитель, артикул)</th>
            <th>Зав. № трансмиссии</th>
            <th>Модель ведущего моста</th>
            <th>Зав. № ведущего моста</th>
            <th>Модель управляемого моста</th>
            <th>Зав. № управляемого моста</th>
            <th>Дата отгрузки с завода</th>
            <th>Покупатель</th>
            <th>Грузополучатель (конечный потребитель)</th>
            <th>Адрес поставки (эксплуатации)</th>
            <th>Комплектация (доп. опции)</th>
            <th>Сервисная компания</th>
        </tr>
       
    </table>
</div>
